:root {
    --color-gray-1: #333333;
    --color-gray-2: #4F4F4F;
    --color-red: #EB5757;
    --color-white: #FFFFFF;

    --background-color-white: #FFFFFF;
    --background-color-whited: #E5E5E5;
    --background-color-gray: #F2F2F2;
    --background-color-red: #E15252;
    --background-color-activer: #e17652;
    --background-color-yellow: #F2C94C;
    --background-color-activey: #f2f24c;
    --background-color-gradient: linear-gradient(90deg, #EB7598 0%, #FF926F 100%);
    --background-color-activeg: linear-gradient(90deg, #fb7ea4 0%, #fda78b 100%);;
    --background-color-grayd: #C4C4C4;

    --border-radius-socket: 30px;
    --border-radius-btn-gradient: 18px;
    --border-radius-btn-yellow: 40px;
    --border-radius-gallery: 10px;
    --border-radius-contacts: 50px;
    --border-radius-form: 61px;
}