.main-theme {
    /* colors */
    --main-bg-color-left: #86A3B4;
    --main-bg-color-right: #FFFFFF;
    --main-border-color: #1E1E1E;
    --name1-color: #FFFFFF;
    --name2-color: #1C2E8C;
    --text-color: #263036;
    --link-color: #1C2E8C;

    /* padding */

    --main-padding: 1%;
}